$backgroundColor:#21252b;
$navLinkCOlor:#e7f0ff;
$navLinkCOlorhover:#8e9db8;
$navlinkunderlineHover:rgb(0, 153, 255);


.section1{
    position: relative !important;
}
 #fp-nav ul li a span {
    background: #61dafb !important;
}
.section-margin-center{
    position: absolute !important;
    top: 0%;
    width: 80%;
    margin: 10% auto;
    left: 0;
    right: 0;
    display: flex;
    height: auto;
    justify-content: space-between;
   
    @media screen and (max-width: "800px") {
        width: 90%;
        flex-direction: column;
        position: relative !important;
        justify-content: flex-start !important;
        }

}
@mixin sliderinner {
    width: 50%;
    position: absolute;
    height: 90vh;
    top: 0; 
}
.right-slider{
   @include sliderinner;
    right: 0;
    @media screen and (max-width: "800px") {
    width: 90%;
    margin: 0vh auto;
    height:auto;
    position: relative !important;
    flex-direction: column;
    justify-content: flex-start;
    }
}
.left-slider{
    @include sliderinner;
    left: 0;

    @media screen and (max-width: "800px") {
    width: 90%;
    margin: 0vh auto;
    height:auto;
    position: relative !important;
    justify-content: flex-start;
    }
}
.right-slider-inner{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: start;
    .headings-right-slider{
        font-size: calc(15px + 3vmin);
        color: white;
        .text-right-slider{
            font-weight: 400;
            margin-top: 5vh;
            font-size:calc(12px + 1vmin);
            color: $navLinkCOlorhover;
            letter-spacing: 1px;
        }
    }
}

.left-slider-inner{
   width: 100%;
   margin: 0 auto;
   height: 100%;
    img{
        width: 85%;
        height: auto;
        margin: 20px auto;
    }   
}